{% extends 'layout.html' %}
{% block content %}
    {% include 'navbar.html'   %}
    <!-- Add Note -->
    <div class="container-sm text-center">
        <a href="{{ url_for('addnote') }}" class="btn btn-info mt-4 fw-bold text-light">+ Add Notes</a>
    </div>
    <!-- List Note -->
    <div class="container-sm">
        <hr style="height:10px;">
        <div class="row fw-bold">
          <div class="col">
            No
          </div>
          <div class="col">
            Title
          </div>
          <div class="col">
            Action
          </div>
        </div>
        <hr>
        <div id="listnote">

        </div>
    </div>
{% endblock %}

{% block extdjs %}
  <script type="text/javascript">
    $(document).ready(function () {
      // Handle Search Query
      $('#searchbtn').click(function () { 
        var query = $('#searchbar').val()
        var searchroute = 'http://localhost:5000/searchnote?q='
        if (query == null || query == "") {
          alert('Please insert search query.')
        } else {
          location.replace(searchroute+query)
        }
      });

      // Fetch Note
      $.get("http://localhost:5000/ajax/fetchnote", function( data ) {
        for (var i = 0; i < data.length; i++) {
           var x = i + 1
           var listnote_item = '<div class="row">'+
              '<div class="col">'+
                x+
              '</div>'+
              '<div class="col">'+
                data[i].title_note+
              '</div>'+
              '<div class="col">'+
                '<a href="http://localhost:5000/viewnote/'+data[i].id_note+'">View Note<a>'+
              '</div>'+
            '</div>';
           $('#listnote').append(listnote_item)
        }
      });
    });
 </script>
{% endblock %}